#headerDiv {
	text-align: center;
}

.container-fluid {
	margin: 0 auto;
	width: 800px;
}

#exportButtons{
	text-align: center;
}

.iconfloat {
	float: right;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.link_cursor {
	cursor: pointer;
}

.glyphicon.glyphicon-download {
	font-size: 30px;
	margin-right: 20px;
}


/*a {
	color: #000000;
}*/